.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;

}

.resume-text,
.resume-item-institute {
    color: #757575;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}